body{
    background-color: rgb(245, 222, 179);
    display: grid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: auto;
}
h1{
    text-align: center;
}
form{
    text-align: center;
    position: fixed;
    width: auto;
    height: auto;
    background-color: rgba(255, 83, 0);
    padding: 50px;
    border-radius: 8px;
}
#registrar{
    
    color: rgba(255, 83, 0);
    
}