body{
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: auto ;
}
main{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 121, 121);
}
.seccion-nav{
    display: flex;
    flex:1;
    background-color: rgba(255, 83, 0);
    position: fixed;
    top:0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    gap: 5px;
}
.item-nav{
    color: white;
    background-color: rgba(255, 83, 0);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
}
.item-nav:hover{
    color: rgba(255, 83, 0);
    background-color: white;
    box-shadow: 0 4px 10px rgba(255, 83, 0, 0.6);
    cursor: pointer;
}
.item-nav img{
    height: 30px;
    width: auto;
}

.item-nav a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

/*SECCION MAIN*/
.seccion-promos{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin: 5px;
}
.div-promos{
    width: 100%;
    height: 150px;
    text-align: center;
}
.div-promos:hover{
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    border: 0.1px solid rgba(255, 83, 0);
    border-radius: 4px;
    transform: scale(1.05);
}

.seccion-platos{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    gap: 5px;
}
.div-platos{
    text-align: center; 
    padding: 10px;

}
.div-platos:hover{
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    border-radius: 8px;
    transform: scale(1.1);
}

.div-registro{
    display: grid;
    grid-template-columns: 50% auto;
}
.form-registro{
    border-radius: px;
    margin: 30% 20%;
    padding: 20px;
    background-color: rgba(255, 83, 0);
    color: white;
    
}
.form-registro:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);

}