table{
    color: rgba(255, 83, 0);
}

.menu {
    color:black;
}
#seccionMenu{
    border: 10px solid rgba(255, 83, 0);
    color: wheat;
}
strong{
    color: rgba(255, 83, 0);
}
hr{
    color: rgba(255, 83, 0);
}
table{
    background-color: beige;
}