body{
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

/*SECCION HEADER*/
.seccion-nav{
    display: flex;
    flex:1;
    background-color: rgba(255, 83, 0);
    position: fixed;
    top:0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    gap: 5px;
    
}
.item-nav{
    color: white;
    background-color: rgba(255, 83, 0);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
}
.item-nav:hover{
    color: rgba(255, 83, 0);
    background-color: white;
    box-shadow: 0 4px 10px rgba(255, 83, 0, 0.6);
    cursor: pointer;
}

.item-nav a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
.item-nav-img img{
    width: 100px;
    height: auto;
    margin-left: 30px;
    margin-right: 10px;
    padding: 0px;
}

.item-nav-img:hover{
    transform: scale(1.05);
}
/*SECCION MAIN*/
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 48, 48);
    height: 1000px;
}
.seccion-promos{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
}
.div-promos{
    width: 100%;
    height: 150px;
    text-align: center;
}
.div-promos:hover{
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    border: 0.1px solid rgba(255, 83, 0);
    border-radius: 4px;
    transform: scale(1.05);
}

.seccion-platos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 20px;
}
.div-platos{
    text-align: center; 
    padding: 10px;
    height: 250px;
}
.div-platos:hover{
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    border-radius: 8px;
    transform: scale(1.1);
}

.div-registro{
    display: grid;
    grid-template-columns: 50% auto;
}
.form-registro{
    border-radius: px;
    margin: 30% 20%;
    padding: 20px;
    background-color: rgba(255, 83, 0);
    color: white;
    
}
.form-registro:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);

}
/*SECCION FOOTER*/
footer{
    background-color: rgb(49, 48, 48);
}
.seccion-footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(49, 48, 48);
    border-top: 0.2px solid rgb(49, 48, 48);
    justify-content: space-around;  

}
.div-footer img{
    width: 200px;
    height: 200px;
    display: block; /* evita espacios fantasmas por inline-block */
}
footer, .seccion-footer, .div-footer, h3, h5, dl, dt, dd {
    margin: 0;
    padding: 0;
}