body{
    margin: 0px;
    font-family: sans-serif;
}
.seccion-nav{
    display: flex;
    flex:1;
    background-color: #ffffff;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}
.item-nav{
    color: rgba(255, 83, 0);
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
}
.item-nav:hover{
    color: rgba(255, 83, 0);
    box-shadow: 0 4px 10px rgba(255, 83, 0, 0.6);
}
.item-nav img{
    height: 30px;
    width: auto;
}

a{
    text-decoration: none;
    color: inherit;
}