body{
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}

/*SECCION HEADER*/
.seccion-nav{
    display: flex;
    flex:1;
    background-color: rgba(255, 83, 0);
    position: fixed;
    top:0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    gap: 5px;
    
}
.item-nav{
    color: white;
    background-color: rgba(255, 83, 0);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
}
.item-nav:hover{
    color: rgba(255, 83, 0);
    background-color: white;
    box-shadow: 0 4px 10px rgba(255, 83, 0, 0.6);
    cursor: pointer;
}

.item-nav a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
.item-nav-img img{
    width: 100px;
    height: auto;
    margin-left: 30px;
    margin-right: 10px;
    padding: 0px;
}

.item-nav-img:hover{
    transform: scale(1.05);
}


/*SECCION MAIN*/
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 1000px;
}
/*Index*/
.seccion-promos{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
}
.div-promos{
    width: 100%;
    height: 150px;
    text-align: center;
}
.div-promos:hover{
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    border: 0.1px solid rgba(255, 83, 0);
    border-radius: 4px;
    transform: scale(1.05);
}

.seccion-platos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 20px;
}
.div-platos{
    text-align: center; 
    padding: 10px;
    height: 250px;
}
.div-platos:hover{
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    border-radius: 8px;
    transform: scale(1.1);
}


/*Registro*/
.div-registro{
    display: grid;
    grid-template-columns: 50% 50%;
}
.form-registro{
    border-radius: 20px;
    margin: 30% 20%;
    padding: 20px;
    background-color: rgba(255, 83, 0);
    color: black;
    
}
.form-registro:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 83, 0, 0.6);
    
}

/*Local*/
.main-local{
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-areas: 
        "map info"
        "dudas dudas";
    gap: 20px; 
    padding: 30px;
}

.item-map-local{
    grid-area: map;
    background-color: rgba(255, 83, 0);
    color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

}

.item-info-local{
    grid-area: info;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.item-dudas-local{
    grid-area: dudas;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: stretch; /* CLAVE: Hace que todas las tarjetas tengan la misma altura */
    text-align: center;
}
.dudas-local{
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/*SECCION FOOTER*/
footer{
    background-color: white;
    border-top: black solid 1px;
}
.seccion-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding-top: 40px;
}
.div-footer img{
    width: 200px;
    height: 200px;
    display: block; /* evita espacios fantasmas por inline-block */
}
.div-footer, h3, h5, dl, dt, dd {
    margin: 0;
    padding: 0;
}
footer p{
    text-align: center;
}