table{
    color: rgba(255, 83, 0);
}

#tabla{
    background-color:wheat;
    color: rgba(255, 83, 0);
    border: rgba(255, 83, 0);
}
#seccionMenu{
    border: 10px solid rgba(255, 83, 0);
    color: wheat;
    padding: 2px;
}
strong{
    color: rgba(255, 83, 0);
}
hr{
    color: rgba(255, 83, 0);
}

body{
    background-color: wheat;
}
#imgLogo{
    width: 100%;
    height: auto;
    
}
a:link{
    color: black;
    text-align: none;
}
a:visited{
    color:rgba(255,83,00);
    text-decoration: none;
}
button{
    background-color: rgba(255, 83, 0);
    color: wheat;
    border: none;
    border-radius: 10%;
}
button:active{
    color: rgba(255, 83, 0);
    background-color: wheat;
        
}
